services:
  caddy:
    image: caddy:latest
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /data/caddy/Caddyfile:/etc/caddy/Caddyfile
      - /data/caddy/data:/data
      - /data/caddy/config:/config
      - /data/caddy/logs:/var/log/caddy           # Logging
      - /data/security:/srv/security              # security
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    external: true